# 金融数据 API 密钥
FINNHUB_API_KEY=d8882dhr01qq43420b4gd8882dhr01qq43420b50
FRED_API_KEY=BwzMRhndQqxq4MzcOOczzWjGxBDVDcwG
OILPRICE_API_KEY=4203e80636a85d1897e56649e86380b8b4dc7d332e6b592e2d28ca7164685617
FMP_API_KEY=BwzMRhndQqxq4MzcOOczzWjGxBDVDcwG
EDGAR_IDENTITY=your_email@example.com
SEC_EDGAR_USER_AGENT=fin_agent_user@example.com
